<section class="section">
	<div class="section-header">
		<h1>Kelola Data Menu</h1>
	</div>
	<div class="section-body">
		<div class="card mx-auto" style="width: 600px">
			<div class="card-header">
				<h5>Edit Data Menu</h5>
			</div>
			<div class="card-body">
				<form id="menuForm">
					<input type="hidden" name="id" value="<%= menu.id %>">
					<div class="form-group">
						<label>Nama Menu</label>
						<input type="text" name="nama_menu" value="<%= menu.nama_menu %>" class="form-control" required />
					</div>
					<div class="form-group">
						<label>Jenis Menu</label>
						<select name="jenis_menu" class="form-control" required>
							<option <%= menu.jenis_menu == 'Makanan' ? 'selected' : '' %> value="Makanan">Makanan</option>
							<option <%= menu.jenis_menu == 'Minuman' ? 'selected' : '' %> value="Minuman">Minuman</option>
						</select>
					</div>
					<div class="form-group">
						<label>Harga Menu</label>
						<input type="number" name="harga" value="<%= menu.harga %>" class="form-control" required />
					</div>
				</form>
					<!-- submit update data button -->
					<div class="form-group">
						<div class="row d-flex justify-content-center">
							<div class="col-4 text-center">
								<a href="/kelola-menu" style="width: 100%;" class="btn btn-info">Kembali</a>
							</div>
							<div class="col-4 text-center">
								<button id="update" type="submit" style="width: 100%;" class="btn btn-primary">Update</button>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.getElementById('update').onclick = () => {
        const formData = new FormData(document.getElementById('menuForm'));
        const menuId = formData.get('id');
        axios({
            method: 'put',
            url: `/api/menu/${menuId}`,  // Gunakan URL yang sesuai dengan rute Anda
            data: Object.fromEntries(formData),

        }).then(result => {
            alert('Berhasil Update Data!');
            window.location.reload();
        }).catch(err => {
            alert('Error: ' + err);
        });
    };
</script>

